body {
  background-color: #202020;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-links {
  display: flex;
  gap: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.row {
  flex-direction: row;

}

.width-limit {
  max-width: 20em;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.scroll-indicator {
  text-align: center;
  margin: 6em;
}

.scroll-text {
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  animation: fadeIn 4s infinite;
}

@keyframes fadeIn {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.border-path {
  fill: none;
  stroke: gray;
  stroke-width: 0.5; /* Adjust the border thickness here */
}

.arrow-container {
  position: absolute;
  top: 8em;
  left:10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: -12.5px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  transform: rotate(45deg);
  animation: scrollDown 2s infinite;
  box-sizing: border-box;
}

.arrow:nth-child(2) {
  animation-delay: 0.75s; /* Start the second arrow's animation later */
}

@keyframes scrollDown {
  0% {
      opacity: 0;
      bottom: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;

  }
}
.scroll-box{
  text-align: center; 
  position: relative;

}

.scroll-box > svg {
width: 20em;
height: 20em;

}

.skills-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Creates 4 columns */
  grid-template-rows: repeat(2, auto);
  /* Creates 2 rows */
  padding: 10px;
  margin: 2em;
}

.grid-item {
  background-color: #202020;
  /* border: 1px solid #ffffff; */
  padding: 20px;
  height: 25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4em;
}



.light {
  background-color: #383838;

}

.long {
  grid-column: span 2;
}

.works-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.works-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
}



h1 {
  font-size: 9em;
  margin: 0;
  padding: 0;
}

.crursive-title {
  font-size: 9em;
  margin: 0;
  padding: 0;
}

svg {
  height: 6em;
  width: 6em;
}

.grid-item > div  {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}


